.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 100vh solid #404b69;
  border-bottom: 100vh solid #f73859;
  width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 120px;
}

.giantContainer {
  position: absolute;
  font-size: 350px;
  display: flex;
  bottom: 0;
}

.letter {
  padding: 100px 0;
}

.bg {
  position: absolute;
  width: 200vw;
  /* line-height: 0.9; */
  /* height: 140vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbedf3;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* font-size: 75px; */
  /* flex-wrap: wrap; */
  /* top: -20px; */
  /* line-height: 1.6; */
  bottom: 40px;
  font-size: 350px;
}

.bg p {
  margin: 0;
}

.bg-1 {
  /* background: url("../../images/granite-wood.png"); */
  /* transform: translate(-50%, -50%) rotate(-5deg); */
}

.bg-2 {
  /* background: url("../../images/backpack.png"); */
  /* transform: translate(-50%, -50%) rotate(10deg); */
}

.bg-3 {
  /* background: url("../../images/white-light-no-logo.png"); */
  /* transform: translate(-50%, -50%) rotate(40deg); */
}
