header {
  height: 40vh;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.linkContainer {
  margin: 0 auto;
  max-width: 666px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: relative;
  z-index: 2;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  overflow: hidden;
}

.image-1:nth-of-type(1) {
  opacity: 1;
  filter: brightness(300) url("../images/red.svg#blue");
}

.image-2:nth-of-type(1) {
  opacity: 1;
}

.image-3:nth-of-type(2) {
  opacity: 1;
  filter: brightness(300) url("../images/red.svg#red");
  left: 65%;
}

.image-4:nth-of-type(2) {
  opacity: 1;
  left: 65%;
}

.image-5:nth-of-type(3) {
  opacity: 1;
  filter: brightness(300);
  transform: translate(-50%, -50%) rotate(6deg);
}

.image-6:nth-of-type(3) {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(6deg);
}

.image-7:nth-of-type(4) {
  opacity: 1;
  filter: brightness(300);
  transform: translate(-50%, -50%) rotate(6deg);
  height: 90%;
}

.image-8:nth-of-type(4) {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(6deg);
  height: 90%;
}

.image-9:nth-of-type(5) {
  opacity: 1;
  filter: brightness(300);
  transform: translate(-50%, -50%) rotate(190deg);
  left: 40%;
  top: 70%;
}

.image-10:nth-of-type(5) {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(190deg);
  left: 40%;
  top: 70%;
}
