header {
  height: 40vh;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.linkContainer {
  margin: 0 auto;
  max-width: 666px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  background: url("../images/perpendicular-lights-1200-color.png");
  background-position-y: -320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-2 {
  background: url("../images/perpendicular-lights-1200.png");
  background-position-y: -320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-3 {
  background: url("../images/lamp-color.png");
  background-position-y: -520px;
  background-position-x: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-4 {
  background: url("../images/lamp.png");
  background-position-y: -520px;
  background-position-x: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-5 {
  background: url("../images/sweatshirt_1000_color.png");
  transform: translate(-50%, -50%) rotate(6deg);
  background-size: contain;
  background-repeat: no-repeat;
}

.image-6 {
  background: url("../images/sweatshirt_1000.png");
  transform: translate(-50%, -50%) rotate(6deg);
  background-size: contain;
  background-repeat: no-repeat;
}
